
footer {
    width: 375px;
    background-color: #dfdde8;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 20px;
}
footer img {
    width: 5rem;
    height: 5rem;
}
footer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 15px;
    font-size: 1em;
}
footer a:hover {
    text-decoration: underline;
}